<section class="about">
    <div class="container about-page">
        <p class="products-label">tradition and love</p>
        <h2 class="products-title">how it’s made?</h2>
        <div class="block">
            <img src="/src/images/crow.png" alt="crow">
            <p class="block__paragraph"></p>
            <p class="block__text"></p>
            <button type="button" class="location__button">
                Our Locations
                <svg class="btn__icon" width="8" hight="10">
                    <use href="/src/images/icons.svg#vector"></use>
                </svg>
            </button>
        </div>

    </div>
</section>