<section>
    <div class="container">
        <h2 class="visually-hidden">Advantage</h2>
        <ul class="advantage__list">
            <li class="advantage__item adv1">
                <p class="advantage__value">721</p>
                <p class="advantage__text">
                    Aliquam ac dui vel dui vulputate <br>
                    consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantage__item adv2">
                <p class="advantage__value">16kg</p>
                <p class="advantage__text">
                    Aliquam ac dui vel dui vulputate <br>
                    consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantage__item adv3">
                <p class="advantage__value">84</p>
                <p class="advantage__text">
                    Aliquam ac dui vel dui vulputate <br>
                    consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>