<section>
    <h2>Advantage</h2>
    <ul class="advantage__list">
        <li class="advantage__item">
            <img src=" " alt=" ">
            <p>721</p>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage__item">
            <img src=" " alt=" ">
            <p>16kg</p>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage__item">
            <img src=" " alt=" ">
            <p>84</p>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>

    
</section>