<section>
    <div class="container">
        <h2>Advantage</h2>
        <ul class="advantage__list">
            <li class="advantage__item">
                <img src="images/icon-1.png" Alt="" width="44" height="50">
                <p>721 hhh</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage__item">
                <img src="images/icon-2.png" Alt=""width="44" height="50">
                <p>16kg</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage__item">
                <img src="images/icon-3.png" Alt="" width="44" height="50">
                <p>84</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>