<section class="contact">
    <div class="container">
        <h2 class="contact-title visually-hidden">Contacts</h2>
        <ul class="contact__list">
            <li class="card">
                <div class="card__box">
                    <p class="card__title">CAFE</p>
                    <p class="card__city">Chicago</p>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card__box">
                    <ul class="schedule">
                        <li class="schedule__item--list">
                            <p class="schedule__day">Monday - Friday</p>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item">
                            <p class="schedule__day">Saturday - Sunday</p>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="card__box">
                    <ul class="card-contact">
                        <li class="card-contact__item">
                            <a href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="card-contact__item">
                            <a href="mailto:oreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
                
            </li>
            <li class="card">
                <div class="card__box">
                    <p class="card__title--box">FOOD TRUCK</p>
                    <p class="card__city">Los Angeles</p>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card__box">
                    <ul class="schedule">
                        <li class="schedule__item--list">
                            <p class="schedule__day">Monday - Friday</p>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                        </li>
                        
                        <li class="schedule__item">
                            <p class="schedule__day">Saturday - Sunday</p>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="card__box">
                    <ul class="card-contact">
                        <li class="card-contact__item">
                            <a href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="card-contact__item">
                            <a href="mailto:oreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
                
            </li>
            <li class="card">
                <div class="card__box">
                    <p class="card__title">CAFE</p>
                    <p class="card__city">New York</p>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card__box">
                    <ul class="schedule">
                        <li class="schedule__item--list">
                            <p class="schedule__day">Monday - Friday</p>
                            <p class="schedule__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule__item">
                            <p class="schedule__day">Saturday - Sunday</p>
                            <p class="schedule__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="card__box">
                    <ul class="card-contact">
                        <li class="card-contact__item">
                            <a href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="card-contact__item">
                            <a href="mailto:oreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
                
            </li>
        </ul>
    </div>
</section>