<section class="footer">
    <div class="container footer-page">
        <div class="footer-box">
            <div class="footer-text">
                <p class="footer-box__text">homemade ice cream made</p>
                <span class="footer-box__span">with passion</span>
            </div>
            <div class="footer-contact">
                <ul class="network">
                    <li class="network__item">
                        <a class="networks__link" href="https://github.com/" target="_blank" rel="noreferrer noopener">
                            <svg width="32" height="32">
                                <use href="/src/images/icons.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="network__item">
                        <a class="networks__link" href="https://www.telegram.org/" target="_blank" rel="noreferrer noopener">
                            <svg width="32" height="32">
                                <use href="/src/images/icons.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="network__item">
                        <a class="networks__link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener">
                            <svg width="32" height="32">
                                <use href="/src/images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <address class="address">
                    Feel free to contact
                    <a class="address__phone" href="tel:+610383766284">+61 (0) 383 766 284</a>
                </address>
            </div>

        </div>



        <div class="footer__copy--line"></div>

        <span class="footer__copy">&copy; 2019 - IceCream. All Rights Reserved. </span>

    </div>
</section>