<section class="footer">
    <div class="container footer-page">
        <div class="footer-box">
            <p class="footer-box__text">homemade ice cream made</p>
            <span class="footer-box__span">with passion</span>
        </div>

        <div class="network">
            <ul class="network__list">
                <li class="network__item">
                    <a href="https://github.com/" target="_blank" rel="noreferrer noopener" class="networks__link">
                        <svg width="40" height="40">
                            <use href="/src/images/icons.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="network__item">
                    <a href="https://www.telegram.org/" target="_blank" rel="noreferrer noopener" class="networks__link">
                        <svg width="40" height="40">
                            <use href="/src/images/icons.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="network__item">
                    <a href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener" class="networks__link">
                        <svg width="40" height="40">
                            <use href="/src/images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <a href="tel:+61(0)383766284" class="phone">
            Feel free to contact <span class="phone__number">+61 (0) 383 766 284</span>
        </a>

        <div class="copyright">
            <footer>&copy; Copyright 2019 - IceCream. All Rights Reserved.</footer>
        </div>
    </div>
</section>