<section class="gallery">
    <div class="container gallery-page">

        <div class="gallery-box gallery-box--1">
            <img class="gallery__img"
                srcset="
                    /src/images/gallery/ice5.jpg 1x,
                    /src/images/gallery/ice5.jpg 2x"
                src="/src/images/gallery/ice5.jpg"
            alt="slider-1"
            width="140">
        </div>
        <div class="gallery-contaier">
            <div class="gallery-box gallery-box--2">
                <img class="gallery__img"
                    srcset="
                        /src/images/gallery/ice9.jpg 1x,
                        /src/images/gallery/ice9.jpg 2x"
                    src="/src/images/gallery/ice9.jpg"
                alt="slider-1"
                width="140"
                >
            </div>
            <div class="gallery-box gallery-box--3">
                <img class="gallery__img"
                    srcset="
                        /src/images/gallery/ice6.jpg 1x,
                        /src/images/gallery/ice6.jpg 2x"
                    src="/src/images/gallery/ice6.jpg"
                alt="slider-1"
                width="140"
                >
            </div>
        </div>

        <div class="gallery-contaier">
            <div class="gallery-box gallery-box--4">
                <img class="gallery__img"
                    srcset="
                        /src/images/gallery/ice1.jpg 1x,
                        /src/images/gallery/ice1.jpg 2x"
                    src="/src/images/gallery/ice1.jpg"
                alt="slider-1"
                width="240"
                >
            </div>
            <div class="gallery-box gallery-box--5">
                <img class="gallery__img"
                    srcset="
                        /src/images/gallery/ice2.jpg 1x,
                        /src/images/gallery/ice2.jpg 2x"
                    src="/src/images/gallery/ice2.jpg"
                alt="slider-1"
                width="180"
                >
            </div>
        </div>

        <div class="gallery-contaier">
            <div class="gallery-box gallery-box--6">
                <img class="gallery__img"
                    srcset="
                        /src/images/gallery/ice8.jpg 1x,
                        /src/images/gallery/ice8.jpg 2x"
                    src="/src/images/gallery/ice8.jpg"
                alt="slider-1"
                width="180"
                >
            </div>
            <div class="gallery-box gallery-box--7">
                <img class="gallery__img"
                    srcset="
                        /src/images/gallery/ice3.jpg 1x,
                        /src/images/gallery/ice3.jpg 2x"
                    src="/src/images/gallery/ice3.jpg"
                alt="slider-1"
                width="240"
                >
            </div>
        </div>

        <div class="gallery-contaier">
            <div class="gallery-box gallery-box--8">
                <img class="gallery__img"
                    srcset="
                        /src/images/gallery/ice4.jpg 1x,
                        /src/images/gallery/ice4.jpg 2x"
                    src="/src/images/gallery/ice4.jpg"
                alt="slider-1"
                width="140"
                >
            </div>
            <div class="gallery-box gallery-box--9">
                <img class="gallery__img"
                    srcset="
                        /src/images/gallery/ice7.jpg 1x,
                        /src/images/gallery/ice7.jpg 2x"
                    src="/src/images/gallery/ice7.jpg"
                alt="slider-1"
                width="140"
                >
            </div>
        </div>

        <div class="gallery-contaier">

        </div>
        <div class="gallery-box gallery-box--10">
            <img class="gallery__img"
                srcset="
                    /src/images/gallery/ice10.jpg 1x,
                    /src/images/gallery/ice10.jpg 2x"
                src="/src/images/gallery/ice10.jpg"
            alt="slider-1"
            width="140">
        </div>

    </div>
</section>