<section class="header">
    <div class="container page-header">
        <a href="./index.html" class="logo">
            <div class="logo__item">
                <svg class="logo__icon">
                    <use href="/src/images/icons.svg#logo"></use>
                </svg>
            </div>
            <p class="logo__text">ICECREAM</p>
        </a>
        <nav class="header__nav">
            <ul class="nav">
                <li class="nav__item">
                    <a href="" class="nav__link nav__link--current">Home</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">About us</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">How it’s made?</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Our products</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="btn">
            Buy now
            <svg class="btn__icon" width="8" hight="10">
                <use href="/src/images/icons.svg#vector"></use>
            </svg>
        </button>
    </div>
</section>