<section class="hero">
    <div class="container hero-page">
        <div class="hero-box milk-box">
            <h1 class="hero-title">ice cream <br>
                made with <br>
                <span class="hero-title__item">passion</span>
            </h1>

            <ul class="btn-list">
                <li class="btn-list__item">
                    <button type="button" class="hero-btn">Products</button>
                </li>
                <li class="btn-list__item">
                    <button type="button" class="hero-btn">How it’s made?</button>
                </li>
            </ul>
            <div class="milk">
                <img src="/src/images/milk.png" alt="milk">
                <div class="milk__item">
                    <p class="milk__text">
                        Lorem ipsum dolor sit amet, <br>
                        consectetur adipiscing elit, <br>
                        sed do eiusmod tempor <br>
                        incididunt ut labore et
                    </p>
                    <button type="button" class="milk-btn">
                        <svg class="milk__icon" width="18" height="18">
                            <use href="/src/images/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="hero-box icecream-box">
            <img src="/src/images/hero-ellipse.png" alt="header-ellipse">
            <img class="icecream" src="/src/images/hero-icecream.png" alt="hero-icecream">
        </div>

        <div class="hero-box shops-box">
            <ul class="shop">
                <li class="shop__item">
                    <div class="shop-box">
                        <img class="shop__icon" src="/src/images/white-ellipse.png" alt="">
                        <span class="shop__amount">16</span>
                        <p class="shop-text">cafes</p>
                    </div>
                </li>
                <li class="shop__item">
                    <div class="shop-box">
                        <img class="shop__icon" src="/src/images/white-ellipse.png" alt="">
                        <span class="shop__amount">23</span>
                        <p class="shop-text">food trucks</p>
                    </div>
                </li>
            </ul>
        </div>

        <img class="girl" src="/src/images/girl.png" alt="girl">

    </div>
</section>