<section class="products">
    <div class="container product-page">
        <p class="products-label">100% natural</p>
        <h2 class="products-title">products</h2>
        <div class="products-box">
            <ul class="product">
                <li class="product__item product-1">
                    <div class="product-box">
                        <h3 class="product__title">ice cream</h3>
                        <p class="product__text">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod tempor
                            incididunt ut labore et
                        </p>
                        <button type="button" class="product-btn">
                            <svg class="milk__icon" width="18" height="18">
                                <use href="/src/images/icons.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="product__item product-2">
                    <div class="product-box">
                        <h3 class="product__title">ice coffee</h3>
                        <p class="product__text">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod tempor
                            incididunt ut labore et
                        </p>
                        <button type="button" class="product-btn">
                            <svg class="milk__icon" width="18" height="18">
                                <use href="/src/images/icons.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="product__item product-3">
                    <div class="product-box">
                        <h3 class="product__title">milkshakes</h3>
                        <p class="product__text">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit,
                            sed do eiusmod tempor
                            incididunt ut labore et
                        </p>
                        <button type="button" class="product-btn">
                            <svg class="milk__icon" width="18" height="18">
                                <use href="/src/images/icons.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>