<section class="reviews">
    <div class="container reviews-page">
        <div class="swiper mySwiper">
            <ul class="review swiper-wrapper">
                <li class="review__item swiper-slide">
                    <img class="review__img"
                        srcset="
                            /src/images/desktop/slider-1-@1x.png 1x,
                            /src/images/desktop/slider-1-@2x.png 2x"
                        src="/src/images/desktop/slider-1-@1x.png"
                    alt="slider-1"
                    width="85"
                    >
                    <div class="review-box">
                        <p class="review__text">
                            Nullam viverra consectetuer. Quisque cursus et,
                            porttitor risus. Aliquam sem.
                            In hendrerit nulla quam nunc,
                            accumsan congue. Lorem ipsum
                            primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="review__location">
                        Emily, Los Angeles
                    </span>
                </li>
                <li class="review__item swiper-slide">
                    <img class="review__img"
                        srcset="
                            /src/images/desktop/slider-2-@1x.png 1x,
                            /src/images/desktop/slider-2-@2x.png 2x"
                        src="/src/images/desktop/slider-2-@1x.png"
                    alt="slider-2"
                    width="85"
                    >
                    <div class="review-box">
                        <p class="review__text">
                            Nullam viverra consectetuer. Quisque cursus et,
                            porttitor risus. Aliquam sem.
                            In hendrerit nulla quam nunc,
                            accumsan congue. Lorem ipsum
                            primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="review__location">
                        Emily, Los Angeles
                    </span>
                </li>
                <li class="review__item swiper-slide">
                    <img class="review__img"
                        srcset="
                            /src/images/desktop/slider-3-@1x.png 1x,
                            /src/images/desktop/slider-3-@2x.png 2x"
                        src="/src/images/desktop/slider-3-@1x.png"
                    alt="slider-3"
                    width="85"
                    >
                    <div class="review-box">
                        <p class="review__text">
                            Nullam viverra consectetuer. Quisque cursus et,
                            porttitor risus. Aliquam sem.
                            In hendrerit nulla quam nunc,
                            accumsan congue. Lorem ipsum
                            primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="review__location">
                        Emily, Los Angeles
                    </span>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>

</section>