.btn {
    display: flex;
    font-weight: 700;
    line-height: 1.31;
    width: 160px;
    height: 44px;
    color: $accent-clr;
    background-color: $white-clr;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    padding: 0;
    stroke: $accent-clr;
    border: $white-clr;
    &:hover,
    &:focus {
        stroke: $white-clr;
        color: $white-clr;
        background-color: $accent-clr;
  }
}