.about-page {
    background: $main-back;
    @media screen and (max-width: 767px) {
        background-image: url("/src/images/spray-mob.png");
        background-position: 0px  735px;
        background-repeat: no-repeat;
        background-size: contain; 
    }

    @media screen and (min-width: 1280px) {
        background-image: url("/src/images/spray.png");
        background-position: 0 302px;
        background-repeat: no-repeat;
    }
}

.about-box {
    padding-top: 125px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 130px;
    }
}

.about-label {
    margin-bottom: 15px;
    height: 34px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    text-transform: uppercase;
    color: $pink-clr;

    @media screen and (max-width: 767px) {
        height: 21px;
        font-size: 18px;
        line-height: 1.16;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 16px;
    }
}

.about-title {
    font-family: 'Titan One';
    height: 66px;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $accent-clr;

    @media screen and (max-width: 767px) {
        margin: auto;
        width: 200px;
        height: 76px;
        font-size: 34px;
        line-height: 1.14;
        letter-spacing: 0.04em;
        margin-bottom: 26px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 48px;
        line-height: 1.14;
    }

}

.production {
    padding: 0 20px;
    @media screen and (min-width: 768px) {
        display: flex;
        
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-left: 39px;
        padding-right: 36px;
        padding-bottom: 27px;
        margin-top: 44px;  
    }

    @media screen and (min-width: 1280px) { 
        justify-content: center;
        align-items: center;
    }
}

.cow-set img {
    @media screen and (max-width: 767px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-right: 17px;
    }
}

.production__item {
   
    @media screen and (min-width: 767px) and (max-width: 1279px) {
        padding-top: 56px;
    }
    
}

.production__intro {
    margin-bottom: 35px;
    line-height: 1.76;
    color: $main-clr;

    @media screen and (max-width: 767px) {
        padding: 0 15px;
        font-size: 12px;
        line-height: 1.62;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 12px;
    }
}

.production__text {
    font-size: 14px;
    line-height: 1.94;
    color: $card-text;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        padding: 0 20px;
        font-size: 12px;
        line-height: 1.62;
        margin-bottom: 15px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 13px;
        margin-bottom: 10px;
    }
}

.production__total {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 1.94;
    color: $card-text;

    @media screen and (max-width: 767px) {
        padding: 0 20px;
        font-size: 12px;
        line-height: 1.62;
        margin-bottom: 27px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 13px;
        margin-bottom: 62px;
    }
}

.about-btn {
    width: 176px;

    @media screen and (max-width: 767px ) {
        margin: auto;

    }
}

