.about-page {
    background: $main-back;
    background-image: url("/src/images/spray.png");
    background-position: 0 302px;
    background-repeat: no-repeat;
}

.about-box {
    padding-top: 125px;
}

.about-label {
    margin-bottom: 15px;
    height: 34px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    text-transform: uppercase;
    color: $pink-clr;
}

.about-title {
    font-family: 'Titan One';
    height: 66px;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $accent-clr;

}

.production {
    display: flex;
    justify-content: center;
    align-items: center;
}

.production__item {
    margin-left: 74px;
    padding-bottom: 30px;
}

.production__intro {
    width: 463px;
    height: 79px;
    margin-bottom: 35px;
    line-height: 1.76;
    color: $main-clr;
}

.production__text {
    width: 463px;
    font-size: 14px;
    line-height: 1.94;
    color: $card-text;
    margin-bottom: 20px;
}

.production__total {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 1.94;
    color: $card-text;
}

.about-btn {
    width: 176px;
}

