.advantage__item {
    position: relative;
    padding-top: 90px;
}

.advantage__item:not(:last-child) {
    margin-right: 30px;
}

.adv1::before,
.adv2::before,
.adv3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    
    
}

.adv1::before {
    background-image: url("../images/icon-1.png");
    width: 33px;
    height: 50px;
}

.adv2::before {
    background-image: url("../images/icon-3.png");
    width: 50px;
    height: 50px;
}

.adv3::before {
    background-image: url("../images/icon-2.png");
    width: 44px;
    height: 50px;
}

.advantage__list { 
    display: flex;
    margin-bottom: 139px; 
    justify-content: center;  
}

.advantage__value {
    width: 98px;
    height: 65px;
    margin-bottom: 15px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 58px;
    line-height: 1.13;
    color: #D41443;
}

.advantage__text {
    width: 330px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    color: #000000;
}

