.advantage-page {
    background: #FFF5F6;
    @media screen and (max-width: 767px) {
        padding-top: 39px; 
        padding-bottom: 97px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding: 39 36 70 36px;
    }

    @media screen and (min-width: 1280px) {
        padding: 39 115 139 115px; 
    }
}

.advantage__item {
    position: relative;
    padding-top: 90px;

    @media screen and (max-width: 767px) {
        padding-top: 64px;
        &:not(:last-child) {
            margin-bottom: 38px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 86px;
        width: calc((100% - 120px) / 3);
        &:not(:last-child) {
            margin-right: 60px;
        }
    }
       
    @media screen and (min-width: 1280px) {
        width: calc((100% - 60px) / 3);
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.advan::before,
.adv2::before,
.adv3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.advan .adv2 .adv3 {
    text-align: center;
}

.advan::before {
    background-image: url('/src/images/icon-1.png');
    width: 33px;
    height: 50px;
}

.adv2::before {
    background-image: url('/src/images/icon-2.png');
    width: 50px;
    height: 50px;
}

.adv3::before {
    background-image: url('/src/images/icon-3.png');
    width: 44px;
    height: 50px;
}

.advantage__list {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.advantage__value {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 58px;
    line-height: 1.13;
    color: #D41443;

    @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 1.13;
    }

    @media screen and (min-width: 767px) and (max-width: 1279px) {
        margin-bottom: 13px;
        font-size: 48px;
        line-height: 1.14;
    }
}

.advantage__text {
    font-weight: 700;
    line-height: 1.76;
    letter-spacing: 0.02em;
    text-align: center;
    color: #000000;

    @media screen and (min-width: 767px)  and (max-width: 1279px) {
        font-size: 14px;
        line-height: 1.74;
    }
}