.contact-page {
    position: relative;
    background-image:
    linear-gradient(to top, $main-back 81%, $white-clr 81%);
    background-repeat: no-repeat;
    padding-bottom: 93px;
    padding-top: 64px;
    @media screen and (max-width: 767px) {
        background-image:
        linear-gradient(to top, $main-back 91%, $white-clr 91%);
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        background-image:
        linear-gradient(to top, $main-back 83%, $white-clr 83%);
        padding-left: 36px;
        padding-right: 36px;
        padding-bottom: 158px;
    }
}

.spot {
    display: none;
    @media screen and (min-width: 1280px) {
    position: absolute;
    left: 0;
    top: 168px;
    display: block;
    }
}

.contacts-list {  
    justify-content: center; 
    @media screen and (max-width: 767px) {
        margin-bottom: 54px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 81px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        margin-bottom: 86px;
    }
}

.card {
    background: $white-clr;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (max-width: 767px) {
        width: 220px;
        padding: 44 20 42 20;
        margin: auto;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 21px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding: 50 32 50 31px;
        width: calc((100% - 40px) / 3);
        &:not(:last-child) {
            margin-right: 20px; 
        }
    }

    @media screen and (min-width: 1280px) {
        width: 330px;
        padding: 51 44 62 43;
        &:not(:last-child) {
                margin-right: 30px;
            }
    }
}

.card__box:not(:last-child) {
    border-bottom: 1px solid $border-clr;
    @media screen  and (max-width: 767px) {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    @media screen  and (min-width: 768px) and (max-width: 1279px) {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    @media screen  and (min-width: 1280px) {
        padding-bottom: 32px;
        margin-bottom: 32px;
    } 
}

.card__title {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.86;
    text-align: center;
    background: $product-2;
    border-radius: 6px;
    margin-bottom: 32px;

    color: $white-clr;

    @media screen and (max-width: 767px) {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 25px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 30px;
    }
}

.card__title-second {
    background: $product-3;
}


.card__city {
    font-size: 16px;
    line-height: 1.86;
    margin-bottom: 10px;
    color: $main-clr;

    @media screen  and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.86;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 14px;
    }
}

.card__text {
    font-size: 16px;
    line-height: 1.83;
    color: $card-text;

    @media screen and (max-width: 767px) {
        font-size: 10px;
        line-height: 1.80;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 13px;
        line-height: 1.66;
    }
}

.schedule__item:not(:last-child) {
    margin-bottom: 12px;

    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.schedule__day {
    line-height: 1.86;
    @media screen and (max-width: 767px) {
        font-size: 12px;
    }

    @media screen and (min-width: 767px) and (max-width: 1279px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}

.schedule__time {
    line-height: 1.86;
    color: $pink-clr;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }

    @media screen and (min-width: 767px) and (max-width: 1279px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}

.card-contact__item {
    line-height: 1.83;
    color: $card-text;

    @media screen  and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.5; 
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 14px;
    }
}

.contacts-btn {
    @media screen and (max-width: 767) {
        // display: block;

    }
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.contacts-btn__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
       margin-right: 14px;
    }
}

.contacts-btn__item {
@media screen  and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto; 
    }
}
.btn-first {
    @media screen and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
        width: 161px;
    }

    width: 198px;

}

.btn-second {
    @media screen and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
        width: 161px;
    }

    width: 180px;
}
