.footer-page{
    position: relative;
    background-color: $main-back;
    @media screen and (max-width: 767px) {
        padding-top: 20px;
    }
}

.footer-box {
    padding: 0 20px;
    padding-bottom: 46px;
    @media screen and (min-width: 768px) {
        display: flex;
        padding: 0 36px;
    }
}

.footer-box__text {
    font-family: 'Titan One', cursive;
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: $pink-clr;
    @media screen and (min-width: 768px)and (max-width: 1279px) {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        padding-top: 10px;
        margin-bottom: 16px;
        width: 340px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        margin-bottom: 15px;
        width: 340px;
    }
}

.footer-box__span {
    display: block;
    font-family: 'Titan One', cursive;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    padding-bottom: 43px;
    width: 200px;
    text-transform: uppercase;
    color: $accent-clr;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.06em;
        width: 340px;
        padding-bottom: 91px;
    }
}

.footer-contact {
    @media screen and (min-width: 768px) {
        margin-left: auto;
    }
}

.network {
    display: flex;
    justify-content: flex-end;
}

.network__item {
    width: 32px;
    height: 32px;
}

.network__item:not(:last-child) {
    margin-right: 28px;
}

.address {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.86;
    text-align: right;
    padding-top: 43px;
    color: $main-clr;
    @media screen and (min-width: 768px) {
        padding-top: 46px;
    }
}

.address__phone {
    color: $accent-clr;
}

.footer__copy--line {
    border-top: 1px solid $border-clr;
}

.footer__copy {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.52;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    margin: auto;
    color: #907E82;
    @media screen and (max-width: 767px) {
        width: 150px;
    }
}