.gallery-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 60px;
}

.gallery-page img {
    border-radius: 10px;
}

.gallery-box--1,
.gallery-box--10,
.gallery-contaier {
    display: block;
}

.gallery-box--5 img,
.gallery-box--6 img {
    transition: transform 500ms;
    @media screen and (min-width: 768px) {
        margin: 5px 20px;
    }
    &:hover {
        transform: scale(2);
    }
}

.gallery-box--1,
.gallery-box--2,
.gallery-box--3,
.gallery-box--4,
.gallery-box--7,
.gallery-box--8,
.gallery-box--9,
.gallery-box--10 {
    margin-bottom: 5px;
    transition: transform 500ms;
    @media screen and (min-width: 768px) {
        margin: 5px;
    }
    &:hover {
        transform: scale(1.5);
    }
}

.gallery-box--1 img,
.gallery-box--2 img,
.gallery-box--3 img,
.gallery-box--8 img,
.gallery-box--9 img,
.gallery-box--10 img {
    width: 45px;
    @media screen and (min-width: 768px) {
        width: 100px;
    }
    @media screen and (min-width: 1280px) {
        width: 140px;
    }
}


.gallery-box--5 img,
.gallery-box--6 img {
    width: 55px;
    margin-bottom: 5px;
    @media screen and (min-width: 768px) {
        width: 120px;
    }
    @media screen and (min-width: 1280px) {
        width: 180px;
    }
}


.gallery-box--4 img,
.gallery-box--7 img {
    width: 70px;
    @media screen and (min-width: 768px) {
        width: 150px;
    }
    @media screen and (min-width: 1280px) {
        width: 240px;
    }
}