.hero-page {
    position: relative;
    height: 502px;
    background-color: $product-1;
    @media screen and (min-width: 768px)and (max-width: 1279px) {
        display: flex;
        height: 399px;
        padding-left: 34px;
        padding-right: 34px;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        height: 665px;
    }
}

.milk-box {
    padding-top: 101px;
    @media screen and (min-width: 1280px) {
    padding-top: 171px;
  }
}

.hero-title {
  font-family: 'Titan One', cursive;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-clr;
  @media screen and (max-width: 767px) {
    position: absolute;
    left: 20px;
    bottom: 203px;
    z-index: 2;
  }
  @media screen and (min-width: 768px)and (max-width: 1279px) {
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;
    padding-left: 115px;
  }
}

.hero-title__item {
    font-family: 'Titan One', cursive;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-clr;
    @media screen and (min-width: 768px)and (max-width: 1279px) {
        font-size: 34.5px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 59.5px;
        line-height: 0.8;
    }
}

.btn-list {
    display: flex;
    @media screen and (max-width: 767px) {
        position: absolute;
        left: 20px;
        bottom: 160px;
        z-index: 2;
    }
    @media screen and (min-width: 768px)and (max-width: 1279px) {
        margin-top: 20px;
        margin-bottom: 18px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 25px;
        margin-bottom: 56px;
        padding-left: 115px;
    }
}


.btn-list__item:not(:last-child) {
    margin-right: 8px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 24px;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    color: $accent-clr;
    height: 24px;
    border-radius: 20px;
    border: $white-clr;
    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.3;
        width: 104px;
        height: 40px;
    }
}

.hero-btn--second {
    width: 83px;
    height: 24px;
    @media screen and (min-width: 1280px) {
        width: 138px;
        height: 40px;
    }
}

.milk {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-end;
    }
    @media screen and (min-width: 1280px) {
        padding-left: 77px;
    }
}

.milk__item {
    padding-bottom: 6px;
    @media screen and (min-width: 1280px) {
        margin-left: 30px;
    }
}

.milk__text {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    width: 130px;
    color: $white-clr;
    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.4;
        width: 200px;
        margin-bottom: 20px;
    }
}

.milk-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: $white-clr;
    @media screen and (min-width: 1280px) {
        width: 26px;
        height: 26px;
        margin: 0;
    }
}

.milk__icon {
    fill: $accent-clr;
}

.icecream-box {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767px) {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    @media screen and (min-width: 1280px) {
        position: relative;
        padding-top: 52px;
    }
}

.hero-ellipse {
    @media screen and (min-width: 768px)and (max-width: 1279px) {
        position: absolute;
        top: 30px;
        right: 138px;
    }
}

.icecream {
    position: absolute;
    bottom: 0;
    @media screen and (max-width: 767px) {
        right: 32px;
    }
    @media screen and (min-width: 768px)and (max-width: 1279px) {
        right: 235px;
    }
}

.shop {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        margin-top: 93px;
        margin-left: auto;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 156px;
        margin-left: auto;
        margin-right: auto;
    }
}

.shop__icon {
    position: absolute;
    right: 0;
}

.shop__item {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    @media screen and (min-width: 1280px) {
        width: 77px;
        height: 77px;
    }
}

.shop__item:not(:last-child) {
    margin-left: 8px;
    margin-bottom: 15px;
    @media screen and (min-width: 1280px) {
        margin-left: 15px;
    }
}

.shop__item-second {
    width: 51px;
    height: 43px;
    @media screen and (min-width: 1280px) {
        width: 92px;
        height: 76px;
    }
}

.shop__amount {
    position: absolute;
    font-family: 'Titan One', cursive;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-clr;
    @media screen and (min-width: 1280px) {
        top: 4px;
        right: 18px;
        font-size: 46px;
        line-height: 1.15;
    }
}

.shop__amount--second {
    @media screen and (min-width: 768px)and (max-width: 1279px) {
        right: 8px;
    }
}

.shop__text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 7.7px;
    line-height: 10px;
    text-align: right;
    color: $white-clr;
    @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.shop_text-second {
    position: absolute;
    left: 0;
    bottom: 0;
}

.girl {
    position: absolute;
    right: 109px;
    bottom: 0;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px)and (max-width: 1279px) {
        right: 35px;
    }
}