.hero-page {
    position: relative;
    height: 665px;
    background-color: $product-1;
    @media screen and (min-width: 1280px) {
        display: flex;
    }
}

.milk-box {
    padding-top: 171px;
}

.hero-title {
    font-family: 'Titan One', cursive;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-clr;
}

.hero-title__item {
    font-family: 'Titan One', cursive;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-clr;
}

.btn-list {
    @media screen and (min-width: 1280px) {
        display: flex;
    }
}

.btn-list__item:not(:last-child) {
    margin-right: 8px;
}

.hero-btn {
    font-size: 8px;
    line-height: 10px;
    color: $accent-clr;
    height: 24px;
    padding: 9px 14px;
    border-radius: 20px;
    border: $white-clr;
    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        text-align: center;
    }
}

.milk {
    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: flex-end;
    }
}

.milk__item {
    padding-bottom: 6px;
}

.milk__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: $white-clr;
}

.milk-btn {
    margin-top: 7px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: $white-clr;
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.milk__icon {
    fill: $accent-clr;
}

.icecream-box {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    @media screen and (min-width: 1280px) {
        position: relative;
        padding-top: 52px;
    }

}

.icecream {
    position: absolute;
    bottom: 0;
}

.shop {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 156px;
        margin-left: 78px;
    }
}

.shop__icon {
    position: absolute;
    right: 0;
}

.shop__item {
    position: relative;
    display: block;
    width: 77px;
    height: 77px;
}

.shop__item:not(:last-child) {
    margin-left: 15px;
    margin-bottom: 15px;
}

.shop__item-second {
    width: 92px;
    height: 76px;
}

.shop__amount {
    position: absolute;
    top: 4px;
    right: 18px;
    font-family: 'Titan One', cursive;
    font-size: 46px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-clr;
}

.shop__text {
    position: absolute;
    left: 25%;
    bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $white-clr;
}

.shop_text-second {
    position: absolute;
    left: 0;
    bottom: 0;
}

.girl {
    position: absolute;
    right: 109px;
    bottom: 0;
}