.products-label {
    font-weight: 400;
    font-size: 30px;
    padding-top: 50px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $pink-clr;
}

.products-title {
    font-family: 'Titan One', cursive;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $accent-clr;
}

.product {
    padding-top: 250px;
    padding-bottom: 50px;
    padding-left: 94px;
    padding-right: 94px;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.product__item {
    text-align: center;
    width: calc((100% - 60px) / 3);
    border-radius: 24px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.product-1,
.product-2,
.product-3 {
    position: relative;
    background-color: $product-1;
    &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: -220px;
        
        @media screen and (min-width: 1280px) {
            width: 335px;
            height: 335px;
        }
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-1-mob.png);
        }
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-1-tablet.png);
        }
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-1-desk.png);
        }
    }
}

.product-2 {
    background-color: $product-2;
    &::before {
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-2-mob.png);
        }
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-2-tablet.png);
        }
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-2-desk.png);
        }
    }
}

.product-3 {
    background-color: $product-3;
    &::before {
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-3-mob.png);
        }
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-3-tablet.png);
        }
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/product-3-desk.png);
        }
    }
}

.product__title {
    position: relative;
    font-family: 'Titan One', cursive;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-clr;
    &::after {
        content: " ";
        position: absolute;
        left: 50%;
        bottom: -32px;
        width: 26px;
        height: 6px;
        background-image: url(/src/images/three-dots.png);
    }
}

.product-box {
    position: relative;
    padding-top: 163px;
    height: 525px;
}

.product__text {
    padding-top: 70px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    color: $white-clr;
}

.product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: $white-clr;
}