.reviews-page {
    padding-top: 40px;
    @media screen and (min-width: 768px) {
        padding-top: 60px;
    }
}

.review__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__img {
    padding-bottom: 29px;
    @media screen and (min-width: 768px) {
        padding-bottom: 19px;
    }
    @media screen and (min-width: 1280px) {
        padding-bottom: 15px;
    }
}

.review-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 308px;
    background-color: $slider-back;
    &::before {
        content: "";
        position: absolute;
        top: 28px;
        left: 61px;
        width: 54px;
        height: 40px;
        background-image: url(/src/images/mobile/slider-element.svg);
        background-size: contain;
        @media screen and (min-width: 768px) {
            top: 25px;
            left: 35px;
        }
        @media screen and (min-width: 1280px) {
            left: 58px;
        }
    }
    @media screen and (min-width: 768px) {
        width: 620px;
        height: 164px;
    }
    @media screen and (min-width: 1280px) {
        width: 926px;
        height: 138px;
    }
}

.review__text {
    position: relative;
    width: 180px;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color: $main-clr;
        &::after {
        content: "";
        position: absolute;
        @media screen and (max-width: 767px) {
        top: 28px;
        left: 0;
        width: 180px;
        height: 217px;
        background-image: url(/src/images/mobile/slider-background-mob.png);
        }
        @media screen and (min-width: 768px) and (max-width: 1279px) {
        top: 27px;
        left: -32px;
        width: 524px;
        height: 62px;
        background-image: url(/src/images/tablet/slider-background-tablet.png);
        }
        @media screen and (min-width: 1280px) {
            background-image: url(/src/images/desktop/slider-background-desk.png);
            width: 814px;
            height: 31.5px;
            left: -32px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 460px;
        font-size: 14px;
        line-height: 2;
        }
        @media screen and (min-width: 1280px) {
        width: 750px;
        font-size: 16px;
        line-height: 1.86;
    }
}

.review__location {
    position: relative;
    font-size: 14px;
    line-height: 1.86;
    color: $main-clr;
    padding-top: 52px;
    padding-bottom: 64px;
    &::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 4px;
        top: 28px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(/src/images/mobile/red-dots.svg);
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (min-width: 1280px) {
            top: 15px;
            }
    }
    @media screen and (min-width: 768px) {
        font-size: 16px;
        padding-top: 42px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 20px;
        padding-top: 34px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 22px;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: $white-clr;
    border-radius: 0;
    margin: 0;
    background-image: url(/src/images/mobile/home.svg);
    background-size: contain;
    background-repeat: no-repeat;
}